footer {
    background: var(--color-bg-tertiary);
    color: var(--color-text-secondary);
    padding: var(--padding-large);

    p{
        display: flex;
        justify-content: flex-start;
    }

}