.hero {
    text-align: center;
    background: var(--color-bg-secondary);
    padding-right: var(--padding-thin);
    padding-left: var(--padding-thin);
    margin: 10px 0 42px 0;
    padding-top: 20px;
}