button {
    text-transform: uppercase;
    width: 258px;
    height: 44px;
    background: var(--color-gradient);
    color: var(--color-text-secondary);
    border: none;
    margin: var(--margin-large);
}